.pagination__container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;

    @media screen and (min-width: $tablet) {
        margin-top: 60px;
        margin-bottom: 60px;
    }

}

.pagination__box {
    display: flex;
    justify-content: center;
}


.pagination__list {
    display: flex;
    list-style-type: none;
}

.pagination__item {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.pagination__item--select {
    font-weight: 800;
    color: red;
}