<div class='modal__content'>
  <div class='thumb'>
    <img
      class='modal__image'
      src='https://image.tmdb.org/t/p/w500//t6HIqrRAclMCA60NsSmeqe9RmNV.jpg'
      alt=''
    />
  </div>
  <div class='content__text'>
    <h2 class='modal__title'>Avatar: The Way of Water</h2>
    <div class='wrap-modal'>
      <ul class='modal__list modal__list--keys'>
        <li>Vote / Votes</li>
        <li>Popularity</li>
        <li>Original Title</li>
        <li>Genre</li>
      </ul>
      <ul class='modal__list modal__list--values'>
        <li class='modal-list__item'>
          <span class='modal__rating--orange'>7.7</span>
          <span class='modal__rating--slash'> /</span>
          <span class='modal__rating'>6710</span>
        </li>
        <li>9366.788</li>
        <li>
          <p>Avatar: The Way of Water</p>

        </li>
        <li>Science Fiction,Adventure,Action</li>
      </ul>
    </div>
    <div class='modal-text'>
      <h3 class='modal-text__title'>About</h3>
      <p class='modal-text__item'>Set more than a decade after the events of the
        first film, learn the story of the Sully family (Jake, Neytiri, and
        their kids), the trouble that follows them, the lengths they go to keep
        each other safe, the battles they fight to stay alive, and the tragedies
        they endure.</p>
    </div>
    <ul class='list-buttons'>
      <li>
        <button
          type='submit'
          class='button-list button-list--orange'
          id='watchedInModal'
        >Add to watched</button>
      </li>
      <li>
        <button type='submit' class='button-list' id='queueInModal'>add to queue</button>
      </li>
      <li>
        <button
          type='submit'
          class='button-list button-list--trailer'
          id='trailer'
        >Trailer</button>
      </li>
    </ul>
  </div>
</div>