<div class='thumb'>
  <img
    class='modal__image'
    src='https://image.tmdb.org/t/p/w500//t6HIqrRAclMCA60NsSmeqe9RmNV.jpg'
    alt=''
  />
</div>
<div class='content__text'>
  <h2 class='modal__title'>Avatar: The Way of Water</h2>
  <ul class='film-card__info-list'>
    <li class='film-card__info-el'>
      <p class='film-card__info-item'>Vote / Votes</p>
      <p class='film-card__info-item--value'>
        <span class='info-item__highlight-red'>7.8</span>
        /
        <span class='info-item__highlight-grey'>6762</span>
      </p>
    </li>
    <li class='film-card__info-el'>
      <p class='film-card__info-item'>Popularity</p>
      <p class='film-card__info-item--value'>8358.7</p>
    </li>
    <li class='film-card__info-el'>
      <p class='film-card__info-item'>Original Title</p>
      <p class='film-card__info-item--value'>AVATAR: THE WAY OF WATER</p>
    </li>
    <li class='film-card__info-el'>
      <p class='film-card__info-item'>Genre</p>
      <p class='film-card__info-item--value'>Science Fiction, Adventure, Action</p>
    </li>
  </ul>
  <h3 class='film-card__title'>About</h3>
  <p class='film-card__overview'>Four of the West’s most infamous outlaws
    assemble to steal a huge stash of gold from the most corrupt settlement of
    the gold rush towns. But not all goes to plan one is killed and the other
    three escapes with bags of gold hide out in the abandoned gold mine where
    they happen across another gang of three – who themselves were planning to
    hit the very same bank! As tensions rise, things go from bad to worse as
    they realise the bags of gold are filled with lead... they’ve been double
    crossed – but by who and how?</p>
  <ul class='list-buttons'>
    <li class='list-buttons-item'>
      <button
        type='submit'
        class='button-list button-list__watched'
        id='watchedInModal'
      >Add to watched</button>
    </li>
    <li class='list-buttons-item'>
      <button
        type='submit'
        class='button-list button-list__queue'
        id='queueInModal'
      >Add to queue</button>
    </li>
  </ul>
</div>