body{
  font-family: $mainFont;
  font-size: 14px;
  color: #000;
  background-image:
    linear-gradient(to right,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)),
    url("../images/background-white.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  background-color: rgb(255, 255, 255);

  scroll-behavior: smooth;
  background-attachment: fixed;

}

// reset styles
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

// responsive images
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  
}

img {
  padding: 0;
  margin: 0;
}