// html {
//     box-sizing: border-box;
//   }
//   *,
//   *::before,
//   *::after {
//     box-sizing: inherit;
//   }
//   ul {
//       list-style: none;
//       padding: 0;
//       margin: 0;
//     }
    // header {
    //   background-color: red;
    //   }

  .search__params {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
   

    @media screen and (min-width: $tablet) {
        flex-wrap: nowrap;
        margin-left:0;
        margin-right:0;

    }

    // @media screen and (min-width: $desktop) {
    //   
    // }

  }
  .search__navi {
    display: flex;
    gap:8px;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $tablet) {
        flex-wrap: nowrap;
        flex-direction: row;
        margin-left:0;
        margin-right:0;

    }
  }



  .search {
    width: 252px;
    height: 34px;
    background-color:  #FFFFFF;
    border-radius: 100px;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    
    @media screen and (min-width: $tablet) {
        width: 165px;
        height: 38px;

    }

    @media screen and (min-width: $desktop) {
        width: 187px;
        height: 42px;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: 0;
        border-radius: 100px;
        background-color: #FFFFFF;
        box-sizing: border-box;
    
        height: 34px;
        width: 34px;
        @media screen and (min-width: $tablet) {
            height: 38px;
            width: 38px;
    
        }
    
        @media screen and (min-width: $desktop) {
            height: 42px;
            width: 42px;
        }

    }
    
    &__icon {
        width: 14px;
        height: 14px;

        @media screen and (min-width: $tablet) {
            width: 16px;
            height: 16px;
        }

    }
}


  .search__input {
    //   width: 84px;
    //   height: 16px;
      padding-left: 14px;
      border: none;
      outline: none;
      color: #000000;
      font-size: 12px;
      line-height: calc(14/12);
      border-radius: 100px;

      @media screen and (min-width: $tablet) {
      font-size: 14px;
      line-height: calc(16/14);
      width:100px;
    }

  }
  input::placeholder {
      color: #000000;
      font-size: 14px;
      line-height: 1.14;
      font-weight: 400;
    }

    .header{
        // position: fixed;
        // z-index: 10;
        // left: 0;
        // top: 0;
        // width: 100vw;

        &__container{
        background-image: url('../images/hero-mobile.jpg');
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 15px;
        margin-top: 20px;
        height:460px;
        padding: 14px;

        margin-left: auto;
        margin-right: auto;     

        @media screen and (min-width: $tablet) {
            background-image: url('../images/hero-tablet.jpg');
            margin-top: 32px;
            height:222px;
            padding: 16px;
        }

        @media screen and (min-width: $desktop) {
            background-image: url('../images/hero-desktop.jpg');
            height:316px;
            padding: 16px 32px;
        }

        }

        &__title {
            font-size: 32px;
            line-height: calc(38/32);
            font-weight: 500;
            color:#FFFFFF;
            @media screen and (min-width: $tablet) {
                font-size: 40px;
                line-height: calc(47/40);
                
            }
    
            @media screen and (min-width: $desktop) {
                font-size: 64px;
                line-height: calc(75/64);
        }
        }

        &__nav {
            display: flex;
            gap:4px;
        }
        &__buttons-library{
            display: flex;
            gap:4px;
            justify-content: center;
        }

        &__logo {
            width: 32px;
            height: 32px;

            @media screen and (min-width: $tablet) {
              
                width: 40px;
                height: 40px;
            }
    
            @media screen and (min-width: $desktop) {
                width: 59px;
                height: 59px;

        }
    }
    }

    .logo{
        display: flex;
        align-items: center;
        gap:8px;
        margin-top: 312px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: $tablet) {
              
        margin-top: 105px;
        }

        @media screen and (min-width: $desktop) {
            margin-top: 151px;

    }

    }

    .nav__link {
        
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            border: 0;
            border-radius: 100px;
            padding: 10px 26px;
            box-sizing: border-box;
          
            // width: 87px;
            height: 34px;
          
            font-family: $mainFont;
            font-size: 12px;
            font-weight: 500;
            line-height: calc(14 / 12);
            letter-spacing: 0em;
            text-align: center;
            cursor: pointer;
            color: #000000;
            background-color: #FFFFFF;
            text-transform: uppercase;
            
            &--current{
                color: #FFFFFF;
                background-color: #000000;
            }

            @media screen and (min-width: $tablet) {
                height: 38px;
            }
    
            @media screen and (min-width: $desktop) {
                height: 42px;
            }
    }


    .btn{
        
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: 0;
        border-radius: 100px;
        padding: 10px 26px;
        box-sizing: border-box;
      
        // width: 87px;
        height: 34px;
      
        font-family: $mainFont;
        font-size: 12px;
        font-weight: 500;
        line-height: calc(14 / 12);
        letter-spacing: 0em;
        text-align: center;
        cursor: pointer;
        color: $accentColor;
        background-color: #FFFFFF;
        text-transform: uppercase;

        &--active{
            color: #FFFFFF;
            background-color: $accentColor;
        }

        @media screen and (min-width: $tablet) {
            height: 38px;
        }

        @media screen and (min-width: $desktop) {
            height: 42px;
        }
}
