.dark {
  background-color: #252525;
  color: #fff;
}

.dark__footer {
  background-color: #1b1a1a;
  color: #fff;
}

.dark_theme-text {
  color: #fff;
}

.section-theme{
  display: flex;
  justify-content: center;
  

}