.dark {
  background-image: linear-gradient(
      to right,
      rgba(37, 37, 37, 0.7),
      rgba(37, 37, 37, 0.7)
    ),
    url('../images/background-black2.jpg');
  background-color: $background-color-black;
  color: $white;
}

.dark__footer {
  background-color: $background-color-black-footer;
  color: $white;
}

.dark_theme-text {
  color: $white;
}

.switch__thumb {
  margin-top: 17px;
  justify-content: center;
  display: flex;
  @media screen and (max-width: $tablet) {
        margin-top: 10px;
    }
}

.switch__light,
.switch__dark {
  text-transform: uppercase;
  color: $white;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}

.switch {
  width: 40px;
  height: 16px;
  margin: 0 10px;
  display: block;
  transform: translateY(-25%);
}

.slider {
  cursor: pointer;
  border: 4px solid $black;
  border-radius: 30px;
  transition: all 0.2s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  box-shadow: 0 0 0 2px $accentColor, 0 0 4px $accentColor;
}

.slider:before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: $accentColor;
  border-radius: 30px;
  transition: all 0.2s;
  position: absolute;
  transform: translate(-24px);
}

.slider:before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: $accentColor;
  border-radius: 30px;
  transition: all 0.2s;
  position: absolute;
  transform: translate(-24px);

  @media screen and (min-width: 768px) {
    transform: translate(-20px);
  }
}


input:checked + .slider:before {
  transform: translateX(24px);
  /*translateX(w-h)*/
  background-color: $accentColor;
  // @include tablet {
  //   transform: translateX(20px);
  // }
}

input:checked + .slider {
  box-shadow: 0 0 0 2px $accentColor, 0 0 8px $accentColor;
}

.switch200 .slider:before {
  width: 200%;
  transform: translateX(-82px);
 
}

