//Fonts
$mainFont: 'Roboto', sans-serif;

// Colors
$accentColor:#B92F2C; 
$white: #fff;
$black: #000;
$hover: #e5a4a3;
$backdrop-background: rgba(0, 0, 0, 0.2);
$background-color-black: rgb(37, 37, 37);
$background-color-black-footer: rgb(27, 26, 26);
$background-color-white-footer: #f7f7f7;
$footer-text: #545454;

// Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
