<div class="films">
    <ul class="films__list">
    
      <li class="films__list-item">
        
        <a href="#" alt="Photo" class="films__link">
        <div class="films__submenu">
          <img
          src='./images/film-card.jpg'
          alt="image"
          width="370"
          height="294"
        />
        </div>
        <div class="films__info">
          <h3 class="films__name">Технокряк</h3>
        <p class="films__object">Веб-сайт</p>  
        </div>
      </a>
      </li>
      </ul>
      </div>