<header class="header">
  <div class="header__container">
    <div class="search__navi">
      <form class="search" id="search-form">
        <input
          class="search__input"
          type="text"
          name="searchQuery"
          placeholder="Movie Search"
          autocomplete="off"
        />
        <button type="submit" class="search__button">
          <svg width="14" height="14" class="search__button-icon search__icon">
            <use href="./images/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
      </form>
      <nav class="nav">
        <ul class="header__nav">
          <li class="nav_item">
            <a
              href="./index.html"
              class="nav__link nav__link--home nav__link--current hvr-float-shadow hvr-buzz-out hvr-curl-top-left"
              >Home</a
            >

          </li>
          <li class="nav_item">
            <a
              href="./my-library.html"
              class="nav__link nav__link--library hvr-float-shadow hvr-buzz-out"
              >My Library</a
            >
          </li>
        </ul>
      </nav>
      <div class="language-container">
        <a
          href=""
          name=" ua language"
          aria-label="change language ua"
          class="lang--btn language ua active-btn"
          >ua</a
        >
        <a
          href=""
          name=" en language"
          aria-label="change language en"
          class="en lang--btn language"
          >en</a
        >
      </div>
    </div>

    <a href="./index.html" class="logo logo-home">
      <svg class="header__logo logo__animation" width="32px" height="32px">
        <use href="./images/symbol-defs.svg#icon-film"></use>
      </svg>
      <span class="header__title">Filmoteka</span>
    </a>
    <div class="switch__thumb" style="display: flex">
      <p class="switch__light">light</p>
      <div class="header__switch">
        <label class="switch" for="switch">
          <input id="switch" type="checkbox" style="display: none" />
          <span class="slider"></span>
        </label>
      </div>
      <p class="switch__dark">dark</p>
    </div>
  </div>
</header>
