<header class="header">
  <div class=" header__container">
      
      
        <div class ='search__params'> 
         <div class ='search__navi'> 
<form class="search" id="search-form">
          <input class="search__input" type="text" name="searchQuery" placeholder = 'Movie Search' autocomplete="off" />
          <button type="submit" class="search__button">
            <svg
              width="14"
              height="14"
              class="search__button-icon search__icon"
            >
              <use href="./images/symbol-defs.svg#icon-search"></use>
            </svg>
          </button>
        </form>
        <nav class="nav">
          <ul class="header__nav">
            <li class="nav_item">
              <a href="./index.html" class="nav__link hvr-float-shadow hvr-buzz-out hvr-rectangle-in">Home</a>
            </li>
            <li class="nav_item">
              <a href="./my-library.html" class="nav__link nav__link--current hvr-float-shadow hvr-buzz-out hvr-curl-top-left"
                >My Library</a
              >
            </li>
          </ul>
        </nav>
         </div>
        <div class="header__buttons-library">
          <button class="library-btn btn btn--active hvr-float-shadow hvr-buzz-out" data-add="watched">Watched</button>
          <button class="library-btn btn hvr-float-shadow hvr-buzz-out" data-add="queue">Queue</button>
        </div>
      </div>

    <a href="./index.html" class="logo-library logo">
      <svg class="header__logo logo__animation" width="32px" height="32px">
        <use href="./images/symbol-defs.svg#icon-film"></use>
      </svg>
      <span class="header__title">Filmoteka</span>
    </a>
    <div class="switch__thumb" style="display: flex">
      <p class="switch__light">light</p>
      <div class="header__switch">
        <label class="switch" for="switch">
          <input id="switch" type="checkbox" style="display: none" />
          <span class="slider"></span>
        </label>
      </div>
      <p class="switch__dark">dark</p>
    </div>
  </div>
</header>
