<<<<<<< Updated upstream
.films {
&__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;

    @media screen and (min-width:1200px) {
        display: flex;
        flex-wrap: wrap;
        width: unset;
        padding-left: 0;
        padding-right: 0;
        margin: 0; 
    }
    
}

&__list-item {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;

    &:last-child {
        margin-bottom: 0;
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        width: calc((100% - 34px) / 2);
        display: inline-flex;
        justify-content: space-around;
        &:nth-child(odd) {
            margin-right: 30px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width:1200px) {
    position: relative;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #f5f5f5;
    cursor: pointer;
    transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        .films__title {
            transform: translateY(0);
            display: block;
        }
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    }
    
}

@media screen and (min-width:1200px) {
    .films__list-item:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }


.films__list-item:nth-child(3n) {
    margin-right: 0;
}
}



&__link {
    margin-right: 0;
}

&__title {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    text-decoration: none;
    color: #ffffff;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__info {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #ffffff;
}

&__name {
    color: #212121;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 5px;
}

&__genre {
    color: #212121;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
}
=======
.film-card {
    margin-top: 20px;
    width: 280px;      
    
    @media screen and (min-width:768px) and (max-width:1199px) {
        width: 336px;
        margin-top: 30px;   
    }

    @media screen and (min-width:1200px) {
        width: 395px;
        margin-top: 30px;
    }

    &__small-image{
        width: 280px;
        margin: 0;
        @media screen and (min-width:768px) and (max-width:1199px) {
            width: 335px;
            height: 455px;
        }
        @media screen and (min-width:1200px) {
            width: 395px;
            height: 575px;
        }
    }
        .info {
        display: block;
        margin-left: 0;
        margin-top: 10px;
       
        &__title{
            font-size: 12px;
            line-height: 1.33;
            text-transform: uppercase;
            color: #000000;
            @media screen and (min-width:1200px) {
                font-size: 20px;
                line-height: 1.2;
            }
        }
        
        &__genre-year{
            display: flex;
        }
        
        &__genre{
        color: #B92F2C;
        font-size: 12px;
        line-height: 1.17;
        @media screen and (min-width:1200px) {
            font-size: 20px;
            line-height: 1.2;
        }
        }
        
        &__year{
            margin-left: 3px;
            font-size: 12px;
            line-height: 1.17;
            @media screen and (min-width:1200px) {
                font-size: 20px;
                line-height: 1.2;
            }
        }   
    }
  }
>>>>>>> Stashed changes
