// ресет базових стилів
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// стилі футера

.footer {
  margin-left: auto;
  margin-right: auto;

  background-color: #f7f7f7;

  @media screen and (max-width: 767.98px) {
    max-width: 320px;
    height: 100px;

    padding-top: 29px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1259.98px) {
    width: 768px;
    height: 79px;

    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 1260px) {
    width: 1260px;
    height: 77px;

    padding-top: 30px;
    padding-bottom: 28px;
  }
}

.container {
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer__text {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: #545454;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(19 / 16);
  }
}

.footer__text--position {
  @media screen and (min-width: 768px) {
    margin-right: 5px;
  }
}

.footer__wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 767.98px) {
    margin-top: 10px;
  }
}

.footer__icon {
  margin-left: 10px;
  margin-right: 10px;
}

.footer__link {
  text-decoration-line: underline;

  cursor: pointer;

  &:hover,
  &:focus {
    color: #fa3636;
  }
}
