.pagination__container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;

    @media screen and (min-width: $tablet) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

}

.pagination__box {
    display: flex;
    justify-content: center;
}


.pagination__list {
    display: flex;
    list-style-type: none;
}

.pagination__item {
    font-family: $mainFont;
    font-weight:500;
    font-size: 12px;
    line-height: calc(16/12);
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    display:flex; 
    justify-content: center;
    align-items: center;
}

.pagination__item--select {

    // font-family: $mainFont;
    // font-weight:500;
    // font-size: 12px;
    // line-height: calc(16/12);
    border-radius: 5px;
    color: $white;
    background-color: $accentColor;
    display:flex; 
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.pagination__btnRight {
    background-color: $background-color-white-footer;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border-color: transparent;

    cursor: pointer;

}

.pagination__btnLeft{
    background-color: $background-color-white-footer;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border-color: transparent;

    
}

.pagination__btnLeft:hover,
.pagination__btnRight:hover {
    cursor: pointer;
}

.pagination__dots {
    font-family: $mainFont;
    font-weight:500;
    font-size: 12px;
    line-height: calc(16/12);
    display:flex; 
    justify-content: center;
    align-items: center;


}